<mat-toolbar>
	<button mat-button [routerLink]="'/'">{{ 'Home' | translate }}</button>
	<button mat-button [routerLink]="'/games/scores-list'">{{ 'Latest games' | translate }}</button>
	<span class="spacer"></span>
</mat-toolbar>
<mat-toolbar>
	<span class="spacer"></span>
	<span>{{ 'Game' | translate }}</span>
	<span class="spacer"></span>
</mat-toolbar>

<div class="game" *ngIf="step == 'game'">
	<div class="player1">
		<h1>{{player1Name}}</h1>
		<h2>{{ 'Deck'| translate }}</h2>
		<h3>{{gameService.game.player1Cards.length}} {{ 'remaining cards' | translate }}</h3>
		<h2>{{ 'Card returned'| translate }}</h2>
		<h3>
			<span *ngIf="gameService.currentRound">{{gameService.currentRound.player1Card}}</span>
			<span *ngIf="!gameService.currentRound">{{ 'No card returned'| translate }}</span>
		</h3>
		<h2>{{ 'Score'| translate }}</h2>
		<h3>{{gameService.game.player1Score}}</h3>
	</div>

	<div class="player2">
		<h1>{{player2Name}}</h1>
		<h2>{{ 'Deck'| translate }}</h2>
		<h3>{{gameService.game.player2Cards.length}} {{ 'remaining cards' | translate }}</h3>
		<h2>{{ 'Card returned'| translate }}</h2>
		<h3>
			<span *ngIf="gameService.currentRound">{{gameService.currentRound.player2Card}}</span>
			<span *ngIf="!gameService.currentRound">{{ 'No card returned'| translate }}</span>
		</h3>
		<h2>{{ 'Score'| translate }}</h2>
		<h3>{{gameService.game.player2Score}}</h3>
	</div>

	<button mat-flat-button (click)="playRoundCB()" color="primary" class="btPlayRound" *ngIf="!gameService.isFinish()">
		<mat-icon>play_circle</mat-icon>
		{{ 'Next round' | translate }}
	</button>

	<div class="gameFinished" *ngIf="gameService.isFinish()">
		<h1>{{ 'Congratulations playerNameWon, you won the game.' | translate:{ playerNameWon: playerNameWon() } }}</h1>

		<button mat-flat-button color="primary" (click)="newGameCB()">
			<mat-icon>add_circle</mat-icon>
			{{ 'Start a game' | translate }}
		</button>
	</div>

</div>

<div class="playerForm" *ngIf="step == 'playerForm'">
	<h1>{{ 'Player' | translate }} #{{formPlayerId}}</h1>
	<p>{{ 'Please enter the player name' | translate }} #{{formPlayerId}}</p>
	<mat-form-field>
		<mat-label>{{ 'Player Name' | translate }}</mat-label>
		<input matInput [(ngModel)]="formPlayerName" />
	</mat-form-field>
	<p>
		<button mat-flat-button (click)="playerSaveCB()" color="primary" class="btPlayRound">
			<mat-icon>save_circle</mat-icon>
			{{ 'Save' | translate }}
		</button>
	</p>
</div>

