/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.spacer {
  flex: 1 1 auto;
}

p {
	padding: 1em;
}

mat-spinner {
	margin: auto;
  margin-top: 4em;
  max-height: 4em;
}